body{
    background-color: #E8F9FC;
    font-family: Arial;
    text-align: center;
}

table, tr, td{
   border: 1px solid black; 
   background-color: #89CFF1;
}

table{
    width: 100%;
    text-align: center;
}

.toevoegen{
    padding: 0;
    margin: 0;
    background-color: #1B5886;
}

.toevoegen:hover{
    background-color: #FFBA19;
}

.toevoegen a{
    text-decoration: none;
    color: white; 
}

.verwijder{
    background-color: transparent;
}

.verwijder:hover{
    background-color: #FFBA19;
}

.verwijder a{
    text-decoration: none;
    color: black;
}

#linkIndex{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

